include ../container/container
include ../social/social

mixin footer()
	+b('footer').footer&attributes(attributes)

		- var footerData = getData('data-footer');

		- var shops = footerData.shops;

		- var information = footerData.information;

		- var customerService = footerData.customerService;

		- var footerSocial = footerData.footerSocial;

		- var payments = footerData.payments;
		
		.footer__block_top
			+container(class='footer__container_block-top')
			
					.footer__col.menu-group.menu-group_shops
						h2.menu-group__title= 'Shops'
						+list(shops, 'menu-group__')

					.footer__col.menu-group.menu-group_information
						h2.menu-group__title= 'Information'
						+list(information, 'menu-group__')

					.footer__col.menu-group.menu-group_service
						h2.menu-group__title= 'Customer Service'
						+list(customerService, 'menu-group__')

					.footer__col.menu-group.menu-group_connected
						h2.menu-group__title= 'Stay connected'
						+social(footerSocial, 'footer__')(class='footer__social')

						h2.menu-group__title!= 'Subscribe <i class="menu-group__title_italic"> to </i> our newsletter'
						form.form(method='post' action='')
							input.form__input(type='email' name='email' placeholder='Enter Your Email Address')
							button.button.form__button(type='submit')= 'Subscribe'

		.footer__block_bottom

			+container
				hr.horizontal-line
				p.copyright!= '&copy; 2015  Shopia  Fashion Store Shopify. <br>All Rights Reserved. Ecommerce Software by Shopify. <br>Designed by MoccaLabs.com'

				.arrow-up
					a.arrow-up__link(href='#')
						span.arrow-up__icon

				ul.payments
					for payment in payments
						li.payments__item
							img(class='payments__icon' src=payment.src alt=payment.alt)
