include ../button/button

mixin slider(slides)
	+b.slider&attributes(attributes)

		for img, ind in slides

			- var classNameActive = 'slider__item_active';

			if (ind != 0) 
				- classNameActive = '';

			div.slider__item.slider-hero(class=classNameActive data-slide-index=ind)
				.index= ind
				img.slider-hero__img(src=img.src)
				div.slider-hero__body
					img.slider-hero__caption.slider-hero__caption_img(src=img.caption_img)
					+button('Shop now')(class='slider-hero__button')
		div.slider__nav.slider-nav
			
			for _, ind in slides

				- var classNameActive = 'slider-nav__bullet_active';

				if (ind != 0)
					- classNameActive = '';

				span.slider-nav__bullet(class=classNameActive data-bullet-index=ind)
